{% extends "base.html" %}
{% block content %}
<div id="login">
    You need to log in to use this application. <br />
    Please log in with your Galaxy API Key and b2drop credentials.<br />
    You can find your API Key by login in to the Galaxy server and click User, <br />
    then click API Keys. Here you will find your current API Key.<br />
    <br />
    <p style="color:red">
        {{ error }}
    </p>
    <form action="/" method="post">
        <table id="table-login">
            <span style="color:red">*</span> = required fields
            <!--<tr>
                <td>Galaxy Server:<span style="color:red">*</span></td>
                <td><input type="text" name="server" id="server" placeholder="Enter Galaxy server"></td>
            </tr>-->
            <tr>
                <td>Storage location:<span style="color:red">*</span></td>
                <td>
                <select name="storage" id="storage">
                    <optgroup label="Select storage location">
                        <option value="https://b2drop.eudat.eu/remote.php/webdav">B2DROP</option>
                        <option value="https://bioinf-galaxian.erasmusmc.nl/owncloud/remote.php/webdav">Owncloud</option>
                    </optgroup>
                </select>
                </td>
            </tr>
            <tr>
                <td>Galaxy Server:<span style="color:red">*</span></td>
                <td><input type="text" name="server" id="server" placeholder="Enter galaxy server"></td>
            </tr>
            <tr>
                <td>Galaxy API Key:<span style="color:red">*</span></td>
                <td><input type="text" name="api" id="api" placeholder="Enter your Galaxy api key"></td>
            </tr>
            <tr>
                <td>Username:<span style="color:red">*</span></td>
                <td><input type="text" name="username" id="username" placeholder="Enter your username"></td>
            </tr>
            <tr>
                <td>Password:<span style="color:red">*</span></td>
                <td><input type="password" name="password" id="password" placeholder="Enter your password"></td>
            </tr>
        </table>
        <br />
        <table align="center">
            <tr>
                <td><input id="login-button" type="submit" value="Log in to myFAIR analysis @ EMC"></td>
            </tr>
        </table>
        <br />
    </form>
</div>
{% endblock %}
