{% extends "base.html" %}
{% block content %}
<p style="margin-left: 20px;">
    || <a href="/">Home</a>
    || <a href="/triples">Upload Files</a>
    || <a href="/logout">Logout</a> ||
    <br />
</p>
<div id="login">
    <p style="color:red">
        {{ error }}
    </p>
    <form action="modify" method="post" name="delete">
        <p>Type in the study name you want to delete</p>
        <input type="text" name="dstudy" id="dstudy" placeholder="study to delete">
        <br />
        <br />
        <p>
            or type in the investigation name <br />
            to delete all studies within that investigation. <br />
        </p>
        <input type="text" name="dinvestigation" id="dinvestigation" placeholder="investigation to delete">
        <br />
        <br />
        <br />
        <p>
            * Check the accept checkbox to delete study or investigation
        </p>
        <input type="checkbox" name="ok" id="ok" value="ok"> accept
    </form>
    <br />
    <button id="index_buttons" onclick="document.delete.submit()">Delete</button>
    <br />
    <br />
</div>
{% endblock %}