{% extends "base.html" %}
{% block content %}
<script>
    window.onload = function(){
        document.forms['store'].submit()
    }
</script>
<form action="/store" method="post" id="store" name="store">
    <input type="hidden" name="inv" id="inv" value="{{ inv }}">
    <input type="hidden" name="study" id="study" value="{{ study }}">
    <input type="hidden" name="metadata" id="metadata" value="{{ metadata }}">
    <input type="hidden" name="datafile" id="datafile" value="{{ datafiles }}">
    <input type="hidden" name="disgenet" id="disgenet" value="{{ disgenet }}">
    <input type="hidden" name="edam" id="edam" value="{{ edam }}">
</form>
<p style="margin-left: 20px;">
    Triples are being stored...Please wait.
</p>
{% endblock %}