{% extends "base.html" %}
{% block content %}
<p style="margin-left: 20px;">
    || <a href="/">Home</a>
    || <a href="/delete">Delete from graph</a>
    || <a href="/logout">Logout</a> ||
    <br />
</p>
<div id="login">
    <form action="/investigation/" method="post" name="investigation">
        <b>
            Select an investigation by clicking on the dropdown menu.<br />
            Click the See Studies button to view all studies within that investigation.<br />
        </b>
        <select id="folder" name="folder" class="select-folder">
            <optgroup label="available investigations:">
                <option id="inv" disabled selected value="{{ inv }}">{{ inv }}</option>
                {% for folder in folders %}
                    <option value="{{ folder }}">{{ folder }}</option>
                {% endfor %}
            </optgroup>
        </select>
    </form>
    <br />
    <button id="index_buttons" onclick="document.investigation.submit()">See Studies</button>
    <hr />
    <form action="/triples/" method="post" name="triples">
        <input type="hidden" name="inv" id="inv" value="{{inv}}">
        <input type="hidden" name="sstudy" id="sstudy" value="{{sstudy}}">
        <b>
            Select a study by clicking on the dropdown menu.<br />
            Click on the See Files button to view all files within that study. <br />
        </b>
        <select id="study" name="study" class="select-folder">
            <optgroup label="available studies:">
                {% if inv and not sstudy%}
                    <option disabled selected value="">Select a study</option>
                {% elif sstudy %}
                    <option disabled selected value="{{ sstudy }}">{{ sstudy }}</option>
                {% endif %}
                {% if studies is not None and studies != "" %}
                    {% for study in studies %}
                        <option value="{{ study }}">{{ study }}</option>
                    {% endfor %}
                {% endif %}
            </optgroup>
        </select>
    </form>
    <br />
    <button id="index_buttons" onclick="document.triples.submit()">See Files</button>
    <hr />
    <form action="/triples/" method="post" name="files">
        <input type="hidden" name="selected_folder" value="{{ inv }}">
        <input type="hidden" name="selected_study" value="{{ sstudy }}">
        <input type="hidden" id="datalist" name="datalist" value="">
        <input type="hidden" id="metalist" name="metalist" value="">
        <table>
            <thead>
            <th>Files</th>
            <th>Data File</th>
            <th>Metadata File</th>
            </thead>
            {% for file in files %}
                <tr>
                    <td>{{ file }}</td>
                    <td>
                        <input type="checkbox" name="d" value="{{ file }}">
                    </td>
                    <td>
                        <input type="checkbox" name="m" value="{{ file }}">
                    </td>
                </tr>
            {% endfor %}
        </table>
        <script type="text/javascript" charset="utf-8">
            function AddPostData() {
                var datafilelist = new Array;
                var metafilelist = new Array;
                $("input:checkbox[name=d]:checked").each(function(){
                    datafilelist.push($(this).val());
                });
                $("input:checkbox[name=m]:checked").each(function(){
                    metafilelist.push($(this).val());
                });
                var datalist = JSON.stringify(datafilelist);
                var metalist = JSON.stringify(metafilelist);
                var formInfo = document.forms['files'];
                formInfo.datalist.value = datafilelist
                formInfo.metalist.value = metalist
            }
        </script>
        {% if files != "" and files is not None %}
            <button id="index_buttons" onclick="AddPostData()">Store Triples</button><br />
        {% endif %}
        <br />
    </form>
</div>
{% endblock %}