{% extends "base.html" %}
{% block content %}
<p>
    || <a href="/">Home</a>
    || <a href="/delete">Delete from graph</a>
    || <a href="/logout">Logout</a> ||
    <br />
</p>
<div id="login">
    <!--<form action="/eudat/" method="post" name="eudat">-->
    <form action="/triples/" method="post" name="triples">
        Select a study by clicking on the dropdown menu.<br />
        <select id="folder" name="folder">
            <optgroup label="available folders:">
                <option disabled selected value="{{ selected }}">{{ selected }}</option>
                {% for folder in folders %}
                    <option value="{{ folder }}">{{ folder }}</option>
                {% endfor %}
            </optgroup>
        </select>
    </form>
    <button id="index_buttons" onclick="document.triples.submit()">See Files</button>
    <br />
    <br />
    <!--<form action="/eudat/" id="eudat" method="post" name="files_eudat">-->
    <form action="/triples/" id="triples" method="post" name="files_triples">
        <input type="hidden" name="selected_folder" value="{{ selected }}">
        <input type="hidden" id="datalist" name="datalist" value="">
        <input type="hidden" id="metalist" name="metalist" value="">
        <table>
            <thead>
            <th>Files</th>
            <th>Data File</th>
            <th>Metadata File</th>
            </thead>
            {% for file in files %}
                <tr>
                    <td>{{ file }}</td>
                    <td>
                        <input type="checkbox" name="d" value="{{ file }}">
                    </td>
                    <td>
                        <input type="checkbox" name="m" value="{{ file }}">
                    </td>
                </tr>
            {% endfor %}
        </table>
        <script type="text/javascript" charset="utf-8">
            function AddPostData() {
                var datafilelist = new Array;
                var metafilelist = new Array;
                $("input:checkbox[name=d]:checked").each(function(){
                    datafilelist.push($(this).val());
                });
                $("input:checkbox[name=m]:checked").each(function(){
                    metafilelist.push($(this).val());
                });
                var datalist = JSON.stringify(datafilelist);
                var metalist = JSON.stringify(metafilelist);
                var formInfo = document.forms['files_triples'];
                formInfo.datalist.value = datafilelist
                formInfo.metalist.value = metalist
            }
        </script>
        {% if files != "" and files is not None %}
            <button id="index_buttons" onclick="AddPostData()">Store Triples</button><br />
        {% endif %}
        <br />
    </form>
</div>
{% endblock %}