{% extends "base.html" %}
{% block content %}
<script>
    window.onload = function(){
        document.forms['turtle'].submit()
    }
</script>
<form action="/turtle" method="post" id="turtle" name="turtle">
    <input type="hidden" name="group" id="group" value="{{ group }}">
    {% for m in metadata %}
        <input type="hidden" name="metadata" id="metadata" value="{{ m }}">
    {% endfor %}
    {% for d in datafiles %}

        <input type="hidden" name="datafile" id="datafile" value="{{ datafiles }}">
    {% endfor %}
</form>
<p>Triples are being stored...Please wait.
{% endblock %}